/* Estilos da Barra de Progresso */
#progress-bar {
    width: 80%;
    max-width: 600px;
    height: 10px;
    background-color: var(--bg-dark-tertiary);
    border-radius: 5px;
    margin: 10px auto 30px auto;
    overflow: hidden;
    border: 1px solid var(--border-color);
}

/* ... (outros estilos) */

/* Responsividade específica do formulário */
@media (max-width: 768px) {
    #loan-form {
        padding: 20px 15px;
    }

    .form-step h2 {
        font-size: 1.2em;
    }

    #progress-bar {
        width: 95%;
    }
}

.error-text{
    color: var(--accent-danger);
    font-size: 0.8em;
    display: block; /* Garante que ocupe uma linha */

}